<h2><%=l(:button_edit)%> <%=l(:label_template)%></h2>

<%= form_tag({:action => 'update', :id => @template_item}, :multipart => true) do %>
  <div class="box tabular">
    <p>
      <label for="name"><%=l(:field_name)%> <span class="required">*</span></label>
      <%= text_field_tag 'name', 'Sample Item', :size => 60, :required => true %>
    </p>
    <p>
      <label for="description"><%=l(:field_description)%></label>
      <%= text_area_tag 'description', 'This is a sample template item', :rows => 5, :cols => 60 %>
    </p>
  </div>

  <%= submit_tag l(:button_save) %>
  <%= link_to l(:button_cancel), {:action => 'show', :id => @template_item} %>
<% end %>