<div class="contextual">
  <%= link_to l(:label_new), {:action => 'new'}, :class => 'icon icon-add' if User.current.allowed_to?(:manage_template, @project) %>
</div>

<h2><%=l(:label_template)%></h2>

<% if @template_items.any? %>
  <table class="list">
    <thead>
      <tr>
        <th><%=l(:field_name)%></th>
        <th><%=l(:field_description)%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @template_items.each do |item| %>
        <tr>
          <td><%= link_to item[:name], {:action => 'show', :id => item[:id]} %></td>
          <td><%= item[:description] %></td>
          <td class="buttons">
            <%= link_to l(:button_edit), {:action => 'edit', :id => item[:id]}, :class => 'icon icon-edit' if User.current.allowed_to?(:manage_template, @project) %>
            <%= link_to l(:button_delete), {:action => 'destroy', :id => item[:id]}, :method => :delete, :class => 'icon icon-del', :confirm => l(:text_are_you_sure) if User.current.allowed_to?(:manage_template, @project) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>