<h2><%=l(:label_new)%> <%=l(:label_skelton)%></h2>

<%= form_tag({:action => 'create'}, :multipart => true) do %>
  <div class="box tabular">
    <p>
      <label for="name"><%=l(:field_name)%> <span class="required">*</span></label>
      <%= text_field_tag 'name', '', :size => 60, :required => true %>
    </p>
    <p>
      <label for="description"><%=l(:field_description)%></label>
      <%= text_area_tag 'description', '', :rows => 5, :cols => 60 %>
    </p>
  </div>

  <%= submit_tag l(:button_create) %>
  <%= link_to l(:button_cancel), {:action => 'index'} %>
<% end %>